@import './base.css';
@import './muster.css';

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;
  user-select: none;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}
